@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --input: 214.3 31.8% 91.4%;
    --accent: 210 40% 96.1%;
    --primary: 221.2 83.2% 53.3%;
    --input: 214.3 31.8% 91.4%;
    --background: 0 0% 100%;
}

html {
    /* font-size: 1.167rem; */
    font-size: 1.04rem;
}

.scroll-locked, 
.scroll-locked * {
  overscroll-behavior: none !important;
  scroll-behavior: auto !important;
  overflow: hidden !important;
}

.data-\[state\=unchecked\]\:bg-input[data-state="unchecked"] {
    background-color: hsl(var(--input));
}

.data-\[state\=checked\]\:bg-primary[data-state="checked"] {
    background-color: hsl(var(--primary));
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground));
}

.border-input {
    border-color: hsl(var(--input));
}

.bg-background {
    background-color: hsl(var(--background));
}

.bg-yellow-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 252 232 / var(--tw-bg-opacity, 1));
}

.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}

.bg-purple-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 245 255 / var(--tw-bg-opacity, 1));
}

.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
}

.bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.hover\:bg-muted\/50:hover {
    background-color: hsl(var(--muted) / 0.5);
}

.hover\:bg-accent:hover {
    background-color: hsl(var(--accent));
}
